.alert {
  margin: 10px auto;
  border-radius: 10px !important;
  padding: 25px;
  align-items: center;
  height: 4rem;
}

.fade-in-out {
  animation: fading 5.2s ease-in-out;
}

@keyframes fading {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  25% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  75% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
